body {
  background-color: rgb(116, 53, 174);
}

h1 {
  font-size: 4rem;
}

.pale {
  color: rgb(193, 184, 223);
}

.viewPanel {
  display:none;
  background-color: rgb(97, 40, 150);

}

.bodyHead {
  font-weight: bold;
  color: rgb(80, 42, 116);
}

#result-title {
  color: rgb(80, 42, 116);
}
.stayIn {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}